
a{
  text-decoration: none;
}

/*----------------------------
Navbar css
-------------------------- */
.navbar{
  background: linear-gradient(to bottom right, #99ccff 0%, #ffccff 100%); 
}
.logo{
  width: 100px;
  height: 40px;
  margin-right: 15px;
  margin-left: 10px;
}

.navbar-collapse{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 50px 10px 140px;
}

.navbar-collapse .navbar-nav .nav-item{
  padding: 0 15px 0 15px;
  font-weight: 500;
  color: rgb(36, 36, 36);
}
.navbar-collapse .navbar-nav .nav-item:hover{
  padding: 0 15px 0 15px;
  color: rgb(255, 255, 255);
  
}
/* Navbar End */



/* -------------------------
Carousel section
----------------- */
.carousel{
  padding-top: 80px;
}
/* carousel section end */



/* ------------------------
Services section-core values
--------------------------- */
.services .services-box{
  background: linear-gradient(to bottom right, #99ccff 0%, #ffccff 100%);
  padding: 0 10%; 
}

.services .icon-box {
  width: 200%;
  height: 100%;
  text-align: center;
  /* padding: 70px 20px 15px 20px; */
  transition: all ease-in-out 0.3s;
  background: #fff;
}

/* Services section-core values */


/* -----------------------------
About Section
-------------------------------------- */

.key-points li h3{
  color: rgb(20, 207, 29);
}

/* About section end */


/* -----------------------
Contact
------------------------- */
.country{
  padding-top: 80px;
}
.country .table-data{
  padding: 0 35% 0 35%;
}
.card-img-top{
  height: 150px;
}

.active_styles{
  border-bottom: 2px solid #000;
}


/* swiper */
.swiper {
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: none;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide .images {
  display: block;
  width: 100%;
  height: 150%;
  object-fit: cover;
}

.swiper-con h2{
  font-size: x-large;
  padding-top: 1%;
}
@media (max-width: 500px){
  .swiper-con h2{
    font-size: 8px;
  }
}

/* our cuustomer */

.single-box .img-text{
  width: 100%;
  height: 300px;
  display: block;
  text-align: center;
  padding: 35% 5%;
  background: #262626;
  color: #fff;
  border-radius: 15px;
}
.single-box .img-text h2{
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.single-box .img-text p{
  font-size: 14px;
}
.single-box{
  position: relative;
  margin-bottom: 30px;
}
.single-box .img-area{
  position: absolute;
  width: 28%;
  height: 40%;
  border: 5px solid #fff;
  overflow: hidden;
  margin: 4% 32% 2% 32%;
  border-radius: 50%;
}
.single-box .img{
  width: 100%;
}

@media (max-width: 768px){
  .single-box .img-text{
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 60% 5% 20% 5%;
    background: #262626;
    color: #fff;
    border-radius: 15px;
  }
  .single-box .img-text h2{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .single-box .img-text p{
    font-size: 12px;
  }
  .single-box{
    position: relative;
    margin-bottom: 30px;
  }
  .single-box .img-area{
    position: absolute;
    width: 35%;
    height: 35%;
    border: 5px solid #fff;
    overflow: hidden;
    margin: 4% 23% 2% 23%;
    border-radius: 50%;
  }
  .single-box .img{
    width: 100%;
  }
  
}
/* --------------
Footer
----------------- */
.site-footer{
  padding-top: 5em;
  padding-bottom: 1em;
  background: rgb(44, 41, 41);
  font-size: 14px;
  color: white;
}

.site-footer a{
  color: white;
  border-bottom: 1px solid transparent;
}
.site-footer a:hover{
  color: orange;
}
.site-footer a i{
  color: orange;
  font-size: 18px;
}
.site-footer .icons .fab{
  font-size: 26px;
}
.site-footer p{
  font-size: 17px;
}
.site-footer h2{
  font-size: 19px;
  margin-bottom: 28px;
  letter-spacing: .05em;
  color: #fff;
  
}

.site-footer h3{
  font-size: 19px;
  margin-bottom: 28px;
  letter-spacing: .05em;
  color: #fff;
}

.site-footer .footer-link li{
  line-height: 1;
  margin-bottom: 16px;
  font-weight: 500;
}

/* ----------
Footer End
------------------ */

