
a{
  text-decoration: none;
}

/*----------------------------
Navbar css
-------------------------- */
.navbar{
  background: linear-gradient(to bottom right, #99ccff 0%, #ffccff 100%); 
}
.logo{
  width: 100px;
  height: 40px;
  margin-right: 15px;
  margin-left: 10px;
}

.navbar-collapse{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 50px 10px 140px;
}

.navbar-collapse .navbar-nav .nav-item{
  padding: 0 15px 0 15px;
  font-weight: 500;
  color: rgb(36, 36, 36);
}
.navbar-collapse .navbar-nav .nav-item:hover{
  padding: 0 15px 0 15px;
  color: rgb(255, 255, 255);
  
}
/* Navbar End */



/* -------------------------
Carousel section
----------------- */
.carousel{
  padding-top: 80px;
}
/* carousel section end */



/* ------------------------
Services section-core values
--------------------------- */
.services .services-box{
  background: linear-gradient(to bottom right, #99ccff 0%, #ffccff 100%);
  padding: 0 10%; 
}

.services .icon-box {
  width: 200%;
  height: 100%;
  text-align: center;
  /* padding: 70px 20px 15px 20px; */
  transition: all ease-in-out 0.3s;
  background: #fff;
}

/* Services section-core values */


/* -----------------------------
About Section
-------------------------------------- */

.key-points li h3{
  color: rgb(20, 207, 29);
}

/* About section end */


/* -----------------------
Contact
------------------------- */
.country{
  padding-top: 80px;
}
.country .table-data{
  padding: 0 35% 0 35%;
}
.card-img-top{
  height: 150px;
}

.active_styles{
  border-bottom: 2px solid #000;
}